/* Va en todas las páginas */
* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
}

body, html {
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
}

.content {
    min-height: 100vh;
    background-image: url('../imagenes/fondo2.jpg'); /* Reemplaza con la ruta a tu imagen */
    
}

header {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menuIcon {
    background: none;
    padding: 0;
    margin: 0;
    border: none;
    box-shadow: none;
    font-size: 2.5rem;
    color: white;
    margin-left: 10px;
    margin-top: 10px;
    cursor: pointer;
}

.notificationIcon {
    background: none;
    padding: 0;
    margin: 0;
    border: none;
    box-shadow: none;
    font-size: 2.5rem;
    color: white;
    margin-right: 10px;
    margin-top: 10px;
}

.navMenu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* Para distribuir los elementos verticalmente */
    height: 100%;
    /* Ajustar la altura al 100% del menú lateral */
}

.iconoCerrarSesion {
    align-self: flex-end;
    /* Posicionar el ícono al final del eje vertical (abajo) */
    margin-right: 10px;
    /* Añadir margen derecho para ajustar la posición */
    color: white;
    font-size: 1.5rem;
}

.sideNav {
    position: fixed;
    top: 0;
    left: -250px;
    /* Inicialmente oculto fuera de la pantalla */
    width: 200px;
    height: 100vh;
    background-color: #0F243D;
    transition: left 0.3s linear;
    z-index: 1;
    /* Asegura que la barra lateral esté por encima del contenido */
}

.sideNav.show {
    left: 0;
    /* Muestra la barra lateral */
}

.sideNav ul {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.sideNav ul li {
    margin-bottom: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    /* Agrega línea de separación */
}

.sideNav ul li:last-child {
    margin-bottom: 0;
    border-bottom: none;
}

.sideNav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    display: block;
    font-size: 1.5rem;
}

/* Aquí empieza el código de esta página */

.contactanos--container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh; /* Ajusta la altura al 100% de la ventana */
}

.contactanos--container p {
    color: white;
    font-size: 30px;
    margin: 5px 0; /* Añade un poco de espacio entre los párrafos */
}

 /* --------------------------------------------------------------- */
.navMenu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navMenu li {
    margin-right: 20px;
}

.navMenu a {
    color: white;
    text-decoration: none;
}

.navbar {
    
    padding: 10px 0;
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.navbar li {
    margin: 0 15px;
    position: relative;
    justify-content: center;
    text-align: center;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    
}

.navbar li:not(:last-child):after {
    content: "";
    position: absolute;
    height: 20px;
    width: 1px;
    background-color: white;
    right: -8px;
    top: 50%;
    transform: translateY(-50%);
}

.navbar a.active {
    border-bottom: 2px solid white;
}

.navbar a.active {
    border-bottom: 2px solid white;
    color:#B5BD8E; /* Cambia el color del texto del enlace activo */
    font-size: 1rem; /* Aumenta el tamaño de la fuente del enlace activo */
}

/* Animación de escalado para los elementos del nav */
.navbar li:hover {
    transform: scale(1.1); /* Escala el elemento al 110% */
}

.section.active {
    display: flex; /* Mostrar solo la sección activa */
}

.info-container, .form-container {
    max-width: 600px;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: #0F243D;
}

.info-container p, .form-container label {
    font-size: 18px;
    margin-bottom: 10px;
}

.social-icons {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.social-icons a {
    color: #0F243D;
    margin: 0 10px;
    font-size: 24px;
}

.section {
    padding: 20px;
    
    color: white;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.section.active {
    display: block;
}

.info-container, .form-container {
    max-width: 600px;
    margin: 0 auto;
    background-color: #B6C5D6;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: #0F243D;
}

.info-container p, .form-container label {
    font-size: 18px;
    margin-bottom: 10px;
}

.social-icons {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.social-icons a {
    color: #33110D;
    margin: 0 10px;
    font-size: 24px;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-top: 10px;
}

form input, form textarea {
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #B6C5D6;
    border-radius: 4px;
}

form button {
    background-color: #727D3E;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

form button:hover {
    background-color: #0d1e34;
}

h3 {
    font-size: 18px;
    margin-bottom: 10px;
    text-align: center;
}

.servicios {
    text-align: justify; /* Justifica el texto dentro del contenedor */
}

.servicios h4 {
    font-size: 16px;
    color: black; /* Cambia el color de los subtítulos a negro */
    margin-top: 20px;
    margin-bottom: 10px;
}

.servicios ul {
    list-style-type: disc; /* Aplica viñetas a las listas */
    margin-left: 40px; /* Ajusta el margen para las viñetas */
    padding-left: 20px; /* Añade espacio antes de las viñetas */
}

.servicios ul li {
    margin-bottom: 5px; /* Espacio entre los elementos de la lista */
    color: black; /* Cambia el color del texto de los elementos de la lista */
    font-size: 16px;
    text-align: justify; /* Justifica el texto dentro de los elementos de la lista */
}

/* Asegurarse de que las viñetas se muestren en la clase .servicios ul */
.servicios ul {
    list-style: disc;
    margin-left: 40px;
}

.servicios ul li {
    list-style: disc;
    color: black;
}

h6 {
    font-size: 18px;
    color: black;
    margin-top: 20px;
}

p {
    font-size: 12px;
    text-align: justify;
}