/* Va en todas las páginas */
* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
}

body,
html {
    height: 100%;
}

.content {
    min-height: 100vh;
    background: linear-gradient(135deg, #D65A51, #B24741, #8E3431, #6A2121, #451616, #000000);
}

header {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menuIcon {
    background: none;
    padding: 0;
    margin: 0;
    border: none;
    box-shadow: none;
    font-size: 2.5rem;
    color: white;
    margin-left: 10px;
    margin-top: 10px;
    cursor: pointer;
}

.notificationIcon {
    background: none;
    padding: 0;
    margin: 0;
    border: none;
    box-shadow: none;
    font-size: 2.5rem;
    color: white;
    margin-right: 10px;
    margin-top: 10px;
}

.navMenu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* Para distribuir los elementos verticalmente */
    height: 100%;
    /* Ajustar la altura al 100% del menú lateral */
}

.iconoCerrarSesion {
    align-self: flex-end;
    /* Posicionar el ícono al final del eje vertical (abajo) */
    margin-right: 10px;
    /* Añadir margen derecho para ajustar la posición */
    color: white;
    font-size: 1.5rem;
}

.sideNav {
    position: fixed;
    top: 0;
    left: -250px;
    /* Inicialmente oculto fuera de la pantalla */
    width: 200px;
    height: 100vh;
    background-color: #0F243D;
    transition: left 0.3s linear;
    z-index: 1;
    /* Asegura que la barra lateral esté por encima del contenido */
}

.sideNav.show {
    left: 0;
    /* Muestra la barra lateral */
}

.sideNav ul {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.sideNav ul li {
    margin-bottom: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    /* Agrega línea de separación */
}

.sideNav ul li:last-child {
    margin-bottom: 0;
    border-bottom: none;
}

.sideNav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    display: block;
    font-size: 1.5rem;
}

/* Aquí empieza el código de esta página */


.titleVehiculo-container {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

button-add--container {
    display: flex;
    padding: 15px;
}

.button-add--container p {
    color: white;
    font-size: 1.8rem;
    font-weight: 800;
    letter-spacing: 0.1em;
}

.añadirIcon {
    margin-left: 10px;
    font-size: 1.1rem;
    color: white;
}

.datosVehiculo--container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
    color: white;
}

.datosVehiculo--container .input-container {
    margin-bottom: 10px;
    transition: transform 0.3s ease;
    /* Agregar transición para la transformación */
    width: 85%;
    height: auto;
}

.datosVehiculo--container .input-container input {
    width: 100%;
}

.datosVehiculo--container .input-container p {
    margin-bottom: 10px;
}

.datosVehiculo--container .input-container:hover,
.datosVehiculo--container .input-container:active {
    font-weight: bolder;
    transform: scale(1.05);
    /* Escalar el contenedor al pasar el cursor */
}

.datosVehiculo--container .input-datosVehiculo {
    border-style: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    background: transparent;
    background: none;
    color: white;
    caret-color: rgba(0, 0, 0, 0.4);
    transition: border-bottom 0.3s ease;
    /* Agregar transición para el borde inferior */
    width: 90%;
}

.datosVehiculo--container .input-datosVehiculo:hover,
.datosVehiculo--container .input-datosVehiculo:active {
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.datosVehiculo--container .input-datosVehiculo:focus {
    outline: none;
    transform: scale(1.05);
    /* Escalar el input al enfocar */
}

.icon--container {
    margin-top: 10px;
    padding: 20px;
    background-color: #0F243D;
    border-radius: 50%;
    position: relative;
  }
  
  .iconCamera {
    font-size: 40px;
  }
  
  #cameraPreview {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .sendButton--container{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-end;
  }

  .sendIcon{
        font-size: 30px
  }