/* Va en todas las páginas */
* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
}

body,
html {
    height: 100%;
}

.content {
    min-height: 100vh;
    background: linear-gradient(135deg, #D65A51, #B24741, #8E3431, #6A2121, #451616, #000000);
}

header {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menuIcon {
    background: none;
    padding: 0;
    margin: 0;
    border: none;
    box-shadow: none;
    font-size: 2.5rem;
    color: white;
    margin-left: 10px;
    margin-top: 10px;
    cursor: pointer;
}

.notificationIcon {
    background: none;
    padding: 0;
    margin: 0;
    border: none;
    box-shadow: none;
    font-size: 2.5rem;
    color: white;
    margin-right: 10px;
    margin-top: 10px;
}

.navMenu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* Para distribuir los elementos verticalmente */
    height: 100%;
    /* Ajustar la altura al 100% del menú lateral */
}

.iconoCerrarSesion {
    align-self: flex-end;
    /* Posicionar el ícono al final del eje vertical (abajo) */
    margin-right: 10px;
    /* Añadir margen derecho para ajustar la posición */
    color: white;
    font-size: 1.5rem;
}

.sideNav {
    position: fixed;
    top: 0;
    left: -250px;
    /* Inicialmente oculto fuera de la pantalla */
    width: 200px;
    height: 100vh;
    background-color: #0F243D;
    transition: left 0.3s linear;
    z-index: 1;
    /* Asegura que la barra lateral esté por encima del contenido */
}

.sideNav.show {
    left: 0;
    /* Muestra la barra lateral */
}

.sideNav ul {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.sideNav ul li {
    margin-bottom: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    /* Agrega línea de separación */
}

.sideNav ul li:last-child {
    margin-bottom: 0;
    border-bottom: none;
}

.sideNav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    display: block;
    font-size: 1.5rem;
}

/* Aquí empieza el código de esta página */

.titleVehiculo-container {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.button-add--container {
    display: flex;
    padding: 15px;
}

.button-add--container p {
    color: white;
    font-size: 1.8rem;
    font-weight: 800;
    letter-spacing: 0.1em;
}

.mapa--container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 400px;
    max-height: 80%;
    margin-bottom: 20px;
}
.mapa {
    max-width: 80%; /* Asegura que el mapa no exceda el tamaño del contenedor */
    max-height: 100%; /* Asegura que el mapa no exceda el tamaño del contenedor */
}

.tabla--container {
    width: 80%;
    background-color: #0F243D;
    border-radius: 10px;
    max-width: 400px;
    display: flex;
    margin: 0 auto; /* Centra horizontalmente */
    position: relative; /* Añadido para posicionar el clon */
  }
  
  .mostrar-mas {
    flex: 1; /* Ocupa el 20% del espacio disponible */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px; /* Espacio entre el icono y el botón */
    position: relative; /* Añadido para posicionar el clon */
  }
  
  .mostrar-mas button {
    padding: 10px 20px;
    background-color: #556475;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    height: 100%;
  }
  
  .icono-mostrar-mas {
    font-size: 2rem;
    padding: 5px 10px;
  }
  
  .clon-mostrar-mas {
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #556475;
    color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition: top 0.3s ease;
    visibility: hidden;
    cursor: pointer; /* Agregado para cambiar el cursor al hacer clic */
  }
  
  .clon-mostrar-mas .icono-clon {
    font-size: 2rem;
  }
  
  .mostrar-mas.active .clon-mostrar-mas {
    top: 0;
    visibility: visible;
  }
  
  .mostrar-mas.active .texto-original {
    display: none;
  }
  
  
  .icono--container {
    flex: 4; /* Ocupa el 80% del espacio disponible */
    display: flex;
    align-items: center;
    gap: 20px; /* Espacio entre el icono y los datos */
    color: white;
  }
  
  .icono--container .icono-mostrar-mas {
    margin-right: 10px; /* Espacio entre el icono y los datos */
  }
  
  .datos--container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
  }
  
  .datos {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
  }
  
  .datos p {
    margin-right: 5px;
  }
  
  .button-mostras-mas {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
  }
.address--container {
    margin-top: 30px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
  }
  
  .alert-table {
    width: 90%;
    height: auto;
    background-color: #0F243D;
    color: white;
    border-radius: 5px;
  }
  
  .alert-table--header {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center; /* Agregado para centrar verticalmente */
  }
  
  .alert-table--body {
    width: 100%;
    max-height: 100px;
    display: flex;
    justify-content: space-evenly;
    font-size: 11px;
    text-align: center;
    align-items: center; /* Agregado para centrar verticalmente */
  }
  
  .header.address {
    font-size: 10px;
  }
  
  .header.noalert {
    width: 25%;
    font-size: 20px;
  }
  
  .header.lat {
    width: 25%;
    font-size: 20px;
  }
  
  .header.long {
    width: 25%;
    font-size: 20px;
  }
  
  .header.date {
    width: 25%;
    font-size: 20px;
  }
  

  .vincular-dispositivo--container{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .vincular-dispositivo button{
    all: unset;
    border: 1px;
    border-radius: 8px; /* Radio del borde de 5px */
    padding: 10px;
    background-color: #0F243D;
    color: white;
  }

  .revisar-alerta--container{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .revisar-alerta{
    all: unset;
    border: 1px;
    border-radius: 8px; /* Radio del borde de 5px */
    padding: 5px;
    background-color: #240606;
    color: white;
  }
/* Estilos para el modal */
.modal {
    display: none; /* Por defecto, el modal está oculto */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
}

.modal-content {
    background-color: #0F243D;
    color: white;
    margin: 50% auto;
    padding: 20px;
    border: none;
    width: 80%;
    border-radius: 10px;
    animation-name: modal-open;
    animation-duration: 0.3s;
}

.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal--container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.modal-body--container{
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.modal-body--container .body{
    width: 30%;
}

.modal-body--container .bodyy{
    width: 50%;
}

.numero_serie{
    border: 1px solid;
    border-radius: 8px;
    padding: 5px;
    background-color: initial;
    color: white;
}

.modal-title--container {
  text-align: center; /* Centrar el título */
}

.button-group .btn {
  display: flex;
    align-items: center;
    justify-content: center;
    width: 45%; /* Ajustar el ancho de los botones */
    font-size: 30px; /* Aumentar el tamaño de los iconos */
    border: 1px solid rgba(0, 0, 0, 0.199); /* Quitar el borde del botón */
    border-radius: 10px;
    background-color: transparent; /* Hacer el fondo del botón transparente */
    cursor: pointer; /* Cambiar el cursor al pasar por el botón */
}

/* Transición para la transformación */
@keyframes modal-open-transform {
    0% {transform: scale(0.8);}
    100% {transform: scale(1);}
}

/* Transición para la opacidad */
@keyframes modal-open-opacity {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

/* Aplicar las animaciones por separado */
.modal-content {
    animation-name: modal-open-transform, modal-open-opacity;
}

.alert-table--body {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

/*Parte de notificacion*/
.notificationIcon {
  position: relative;
}

.notification-container {
  position: absolute;
  bottom: -95px;
  left: -200px;
  width: 220px;
  height: 100px;
  background-color: #0f243dc4;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  opacity: 0;
  visibility: hidden;
  transform: translateX(-20px);
  transition: opacity 0.3s, visibility 0.3s, transform 0.3s;
  overflow-y: auto;
}

.notification-container.show {
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
}

.notification-container .notification-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  width: 100%;
  color: white;
  font-size: 15px;
  border: 1px solid rgba(0, 0, 0, 0.199);
}

.notification-item .icon-white {
  color: white;
}

/*Parte de notificacion termina*/

